.customer-card-flex {
    width: auto;
    min-width: 500px;
    background-color: rgb(255,240,245);
    box-shadow: 0 30px 30px rgba(0,0,0,0.5);
    display: flex;
    text-align: center;
    flex-flow: column;
}
.customer-card-flex img {
    height: 10rem;
    width: 10rem;
    border-radius: 30%;
    object-fit: cover;
    margin-bottom: 2rem;
    border: 5px solid black;
}

.customer-details span {
    height: 100rem;
}

.cart-card{
    width: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    display: flex;
    text-align: center;
    flex-flow: column;
}

.cart-card img {
    height: 24rem;
    width: 17rem;
    margin-bottom: 2rem;
    border: 5px solid black;
}