.form-width{
    position: relative;
    width: 50%;
    left:10%;
}

.btn-pos{
    left: 33%;
}

.edit-card {
    min-width: 400px;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
}

.edit-card img {
    height: 15rem;
    width: 15rem;
    border-radius: 30%;
    object-fit: cover;
    margin-bottom: 2rem;
}

.edit-page {
    background-color: rgb(255,240,245);
}
